@import url("animations.css");
body {
  font-family: "outfit", sans-serif;
}

.navbar .container .custom-nav-item {
  width: 2.5rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 0.75rem;
  background-color: rgb(235, 235, 235);
  color: black;
}

/* Footer */
footer .waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

footer .parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
footer .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
footer .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
footer .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
footer .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@media (max-width: 768px) {
  footer .waves {
    height: 40px;
    min-height: 40px;
  }
}